<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ulsee.shiba">

    <uses-permission android:name="android.permission.INTERNET" />
<!--    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/> &lt;!&ndash; scan wifi &ndash;&gt;-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/> <!-- scan wifi    Android 9, 10 or higher -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>    <!-- scan wifi    Android 9, 10 or higher -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />   <!-- scan wifi    Android 10 -->
<!--        <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/> &lt;!&ndash; change wifi for Android 10 &ndash;&gt;-->

    <application
        android:name="com.ulsee.shiba.App"
        android:allowBackup="true"
        android:icon="@mipmap/launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/launcher"
        android:supportsRtl="true"
        android:theme="@style/AppMaterialTheme"
        android:usesCleartextTraffic="true">
        <activity android:name="com.ulsee.shiba.ui.LaunchActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
<!--        <activity-->
<!--            android:name=".ui.device.StarterActivity"-->
<!--            android:screenOrientation="portrait"-->
<!--            tools:ignore="LockedOrientationActivity"></activity>-->
        <activity
            android:name="com.ulsee.shiba.MainActivity"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"/>
        <activity
            android:name="com.ulsee.shiba.ui.record.RecordInfoActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"/>
        <activity
            android:name="com.ulsee.shiba.ui.people.EditorActivity"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"/>
        <activity
            android:name="com.ulsee.shiba.ui.people.DeviceSyncActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"/>

        <activity
            android:name="com.ulsee.shiba.ui.streaming.VlcRtspActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"/>
        <activity
            android:name="com.ulsee.shiba.ui.device.settings.WIFIListActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"/>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>

</manifest>